<h2>List</h2>
<ul class="list-group">
  <li *ngFor="let tasksgroup of tasksGroups">
    <a class="group-link" routerLink="/task-view/{{tasksgroup.id}}"
    routerLinkActive="active-link">
      {{tasksgroup.title}}
    </a>
    <a style="cursor: pointer" (click)="deleteTaskGroup(tasksgroup.id)"><i class="bi bi-x"></i></a>
  </li>
  <li *ngIf="tasksGroups.length === 0" class="alert alert-warning w-80 warning">
    Add A new Task Group ....
  </li>
</ul>
<div class="links d-flex align-items-center mt-4">
  <a class="add-group" routerLink="/add-tasks-group"></a>
  <a routerLink="/task-view" class="deleteAllbtn" (click)="deleteAll()"><i class="bi bi-trash-fill"></i></a>
</div>


