<h2>Tasks</h2>
<ul class="list-task">
  <li>
    <h3 class="task-link">group 1</h3>
    <div class="task-editor">
      <a href="#" class="task-edit">
        <i class="bi bi-pencil-square"></i>
      </a>
      <a href="#" class="task-remove">
        <i class="bi bi-trash-fill"></i>
      </a>
    </div>
  </li><li>
    <h3 class="task-link">group 1</h3>
    <div class="task-editor">
      <a href="#" class="task-edit">
        <i class="bi bi-pencil-square"></i>
      </a>
      <a href="#" class="task-remove">
        <i class="bi bi-trash-fill"></i>
      </a>
    </div>
  </li><li>
    <h3 class="task-link">group 1</h3>
    <div class="task-editor">
      <a href="#" class="task-edit">
        <i class="bi bi-pencil-square"></i>
      </a>
      <a href="#" class="task-remove">
        <i class="bi bi-trash-fill"></i>
      </a>
    </div>
  </li>
</ul>
<a href="#" routerLink="/add-task" class="add-task"></a>
