.view
  width: 600px
  min-width: 600px
  height: 500px
  background-color: white
  border-radius: 10px
  display: flex
  flex-direction: row

app-task-group-list
  width: 30%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  border-radius: 10px 0 0 10px
  background-color: lightseagreen
  box-shadow: 0 0px 20px 0px teal
  z-index: 9999

app-tasks-list
  width: 70%
  height: 100%
  border-radius: 0 10px 10px 0
  background-color: lightcyan
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

